.but1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-bottom: 2px solid #eee;
}

.logo-container {
  display: flex; /* This will align logo and title side by side */
  align-items: center; /* Vertically center them */
}

h2 {
  color: #48097c;
  margin-left: 10px; /* Adds space between the logo and the title */
  margin: 0;
}

button {
  font-size: 1rem;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #48097c;
}

.logo {
  width: 50px; 
  height: auto; 
}
